#reader {
    border: 2px solid var(--bs-primary-border-subtle);
    border-radius: 10px;
    background-color: var(--bs-primary-bg-subtle);
}



#html5-qrcode-anchor-scan-type-change{
}

#reader__scan_region {
    display: flex;
    justify-content: center;
    align-items: center;

}



#html5-qrcode-button-camera-permission,
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop,
#html5-qrcode-button-file-selection {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    box-shadow: none;
    margin: 0;
}

#html5-qrcode-button-camera-permission:hover,
#html5-qrcode-button-camera-start:hover,
#html5-qrcode-button-camera-stop:hover,
#html5-qrcode-button-file-selection:hover {
    color: #fff;
    background-color: var(--bs-link-hover-color);
    border-color: var(--bs-link-hover-color);
    box-shadow: none;
}

#html5-qrcode-button-camera-permission.focus,
#html5-qrcode-button-camera-start.focus,
#html5-qrcode-button-camera-stop.focus,
#html5-qrcode-button-file-selection.focus,
#html5-qrcode-button-camera-permission:focus,
#html5-qrcode-button-camera-start:focus,
#html5-qrcode-button-camera-stop:focus,
#html5-qrcode-button-file-selection:focus {
    box-shadow: 0 0 0 0.1rem rgba(130, 138, 145, 0.5);
}

#html5-qrcode-anchor-scan-type-change {
    color: var(--bs-primary);
}

#html5-qrcode-anchor-scan-type-change:hover {
    color: var(--bs-link-hover-color);
}



div[style*="border: 6px dashed rgb(235, 235, 235)"] {
    width: 100% !important;
    padding: 0 !important;
    padding-top: 10px !important;
}


