.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* no arrows on number input */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* bootstrap override */

.table-primary {
  --bs-table-bg: var(--bs-primary) !important;
  --bs-table-color: white !important;
}

.input-group,
.input-group .form-control,
.input-group .btn {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary:hover {
  color: var(--bs-btn-color) !important;
}

/* cropperjs override */

.cropper-view-box {
  outline-color: rgba(255, 255, 255, 0.75) !important;
}

.cropper-line,
.cropper-point,
.cropper-line.line-e,
.cropper-line.line-n,
.cropper-line.line-w,
.cropper-line.line-s {
  background-color: #fff !important;
}

.cropper-point.point-e,
.cropper-point.point-n,
.cropper-point.point-w,
.cropper-point.point-s,
.cropper-point.point-ne,
.cropper-point.point-nw,
.cropper-point.point-sw,
.cropper-point.point-se {
  background-color: #fff !important;
}

.cropper-center::before,
.cropper-center::after {
  background-color: #fff !important;
}

.cropper-point.point-se::before {
  background-color: #fff !important;
}

.large-toast .Toastify__toast-icon {
  width: 75px !important;
  height: 75px !important;
}

.bg-gold {
  background-color: rgba(150, 120, 0, 0.75);
  color: #fff;
}

.bg-silver {
  background-color: rgba(80, 80, 80, 0.75);
  color: #fff;
}

.bg-bronze {
  background-color: rgba(61, 47, 28, 0.75);
  color: #fff;
}






